.DS_Store
./.DS_Store
lib/.DS_Store
src/.DS_Store
data/.DS_Store
.pio/.DS_Store
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
lib/secret*
.pio
crashes_and_spins
.vscode
node_modules
lib/.DS_Store
lib/.DS_Store
