h1 {
  text-align: center;
}
.button {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 55px;
  height: 50px;
}
.button_clicked {
  color: red;
}
.button_change_received {
  border-color: red;
}
.button_active_state {
  background-color: red;
}
.boxes_state_setter {
  text-align: center;
}
.box_state_setter {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box_num_title {
  font-weight: bold;
}
.setters_gp_title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.network_state_setter{
  margin-top: 20px;
  text-align: center;
}
.hidden{
  display: none;
}
