h1 {
  text-align: center;
}
.button {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 55px;
  height: 50px;
}
.button_clicked {
  color: red;
}
.button_change_received {
  border-color: red;
}
.change_ms_received {
  color: red;
}
.change_ms_executed {
  color: green;
}
.button_active_state {
  background-color: red;
}
.bold {
  font-weight: bold;
}
.pad_tb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad_tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.center_al {
  text-align: center;
}
.marg_top{
  margin-top: 20px;
}
.wifi_labels {
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	vertical-align: top;
	text-align: right;
}
.hidden{
  display: none;
}
